{% extends 'base.html' %}

{% block content %}
    <p>PK: {{ budget.pk }}</p>
    <p>Name: {{ budget.name }}</p>
    <p>Number: {{ budget.number }}</p>
    <p>Client: {{ budget.client }}</p>
    <p>Project: {{ budget.project }}</p><br/>

    <table class="table">
        <tr>
            <th>PK</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price/pcs</th>
            <th>Price total</th>
            <th>Budget Id (PK)</th>
        </tr>
        a<% total=0 %>
        {% for budget_item in budget_items %}
            {% if budget_item.budget.id == budget.pk %}
            <tr>
                <td>{{ budget_item.pk }}</td>
                <td>{{ budget_item.product }}</td>
                <td>{{ budget_item.product_quantity }}</td>
                <td>{{ budget_item.product_price }}</td>
                <td>{{ budget_item.calc_total }}</td>
                <td>{{ budget_item.budget.id }}</td>
                <indent>
                    <% total = total + budget_item.product_price %>
                </indent>
            </tr><br/>
            {% endif %}
        {% endfor %}


    </table>
    <td>Budget total: {{ total }}</td>
{% endblock %}