<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="style.css" />
 <title>{% block title %} Shopping Paradise {% endblock %}</title>
</head>

<body>
   <div id="sidebar">
     {% block sidebar %}
       <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/products/list">Products</a></li>
         <li><a href="/products/category_list">category_list</a></li>
       </ul>
     {% endblock %}
   </div>

   <div id="content">
     {% block content %}
     {% endblock %}
   </div>

</body>

</html>


